$prime: #ff6e48;
$ciBlue: #00fff1;
$ciRed: #ff00aa;
$ciGreen: #46fcb4;
$second: #0c1016;

body,
html {
	width: 100%;
	height: 100%;
}

$background: url('img/background2.jpg');
$scale: 50;
$size: #{$scale}rem;
$speed: #{$scale * 1000}ms;


body {
    background-image: $background;
    background-size: $size;
    background-repeat: repeat 0 0;
    animation: infinteMove linear infinite $speed;
}

@keyframes infinteMove { 
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: $size $size;
    }
}