@import '_preset';

$prime: #00fff1;
$second: #0c1016;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

#filters {
	position: absolute;
	top: 0;
	z-index: -1000;
	left: -100%;
	opacity: 0;
}
.container {
	display: flex;
	filter: url(#morph) blur(0.5px);
	position: relative;
	width: 100vw;
	height: 100vh;

	.words {
		font-family: 'Raleway', sans-serif;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 700;
		color: $prime;
		position: absolute;
		font-size: 10rem;
		animation: old 3s forwards;

		&.show {
			animation: new 500ms forwards;
		}
	}
}

@keyframes new {
	0% {
		filter: blur(100px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes old {
	0% {
		filter: blur(0px);
		opacity: 1;
	}
	100% {
		filter: blur(100px);
		opacity: 0;
	}
}
