$prime: #ff6e48;
$second: #1b2431;

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $second;
	font-size: 10px;
	min-height: 200%;

	#logosvg {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 15rem;
		height: 15rem;
		transform: translate(-50%, -50%);

		.cls-1 {
			stroke: $prime;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 0.4rem;
			fill: transparent;
			transition: fill 250ms;
		}
	}
}
