//Grundaufbau Anfang
$prime: #FF6E48;
$second: #0C1016;
$hint: #121821;

$glow1: #00ffff;
$glow2: #ff0072;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    background-color: $second;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
//Grundaufbau Ende

body {
    background-color: $second;
    font-size: 10px;

    section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-flow: row;
        align-items: center;

        .box {
            background-color: $prime;
            border-radius: 2rem;
            width: 15rem;
            height: 10rem;
        }
    }
}